.background-hero-image {
  background-image: url("/media/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $dark;
}

.is-darken {
  filter: brightness(45%);
}

